body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer.page-footer {
	margin-top: 0px;
}

#current-game-objects {
	background-color: #000;
}

#active-commands {
	text-align: right;
}

#select-faction,
#select-build {
	margin-top: 2em;
}

#select-faction a,
#select-build a {
	display: block;
	margin-top: 1em;
}