body {
	background: url(../images/bg-repeat.jpg) center top;
	background-repeat: repeat-y;
	background-size: auto;
}

kbd {
	font-size: 24pt;
}

.command_queue_container {
	vertical-align: bottom;
}

.command_queue_container,
.active_command_container,
.current_game_objects {
	background: #000;
}

.scroll-content {
	max-height: 30em;
	overflow-y: auto;
}

.game-object {
	background-color: #000;
	height: 50px;
	width: 50px;
}

.navbar-default {
	border-bottom: solid 1px #3d434f;
}

#sc-logo {
	height: 50px;
	width: 106px;
	margin-top: -15px;
}